@import url('https://fonts.googleapis.com/css2?family=Anaheim&display=swap');

form{
    border: 2px solid black;
    max-width: 400px;
    margin: 10em auto;
    font-family: 'Anaheim', sans-serif;
    border-radius: 5px;
}

.form-box{
    padding: 5px;
    text-align: center;
    /* display: inline-block; */
    /* margin: 20px 5px; */
}
form label{
    padding: 10px;
}

form input{
    padding: 10px;
    min-width: 60%;
    border: 1.5px solid rgb(177, 177, 177);
}

.submit-btn{
    padding: 5px;
    margin: 30px auto;
    min-width: 90%;
    background-color: white;
    border-radius: 5px;
}